:root {
  user-select: none;
  margin: 0%;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: auto;
  
  background-image: url("./main-assets/game_background.png");
  color: black;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
  height: 0;
  overflow: hidden;
}

a:link {
  color: green;
}

a:hover, a:active {
  color: goldenrod;
}